.home-carousel {
  max-width: 800px;  
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.home-carousel-img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  border-radius: 10px;
}

/* Product Grid Styles */
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

.product-container:hover {
  transform: scale(1.05);
}

/* Product Image */
.product-image {
  width: 100%;
  height: 220px; 
  object-fit: cover;
  border-radius: 10px;
}
